.card-img-top {
  width: 200px;
  height: 200px;
  margin: auto;
  margin-top: 25px;
    margin-bottom: 25px;

}
.card-body{
  align-items: center;
  background-color: #eeeeee;
  height: 120px;
}
.card-title{
  font-family: 'Helvetica', sans-serif;
  color: #666666;
}

.card-text{
  font-family: 'Helvetica', sans-serif;
  color: #999999;
}

.btn-detalle{
  overflow:hidden;
  background-color:#fff;
  border:0px solid #fff;
  box-shadow: 0px 0px 1px #fff;
  cursor: pointer;
  width: 100%;
}

.swing:hover{
-webkit-animation: swing 1s ease;
animation: swing 1s ease;
-webkit-animation-iteration-count: 1;
animation-iteration-count: 1;
}

.descuento{
  color: #df5b54;
}

.nuevo_valor{
  color: green;
}
.tachar{

    margin-bottom: 5px;
  text-decoration:line-through;
  font-size: 12px;
}


@-webkit-keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes swing
{
15%
{
-webkit-transform: translateX(5px);
transform: translateX(5px);
}
30%
{
-webkit-transform: translateX(-5px);
transform: translateX(-5px);
}
50%
{
-webkit-transform: translateX(3px);
transform: translateX(3px);
}
65%
{
-webkit-transform: translateX(-3px);
transform: translateX(-3px);
}
80%
{
-webkit-transform: translateX(2px);
transform: translateX(2px);
}
100%
{
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
