.page-footer{
  background-color: #eeeeee;
  font-family: 'Helvetica', sans-serif;

}
.fab{
    color: #999999;
}
.fab:hover
{
  color: #666666;
}
.footer-c{
    font-family: 'Helvetica', sans-serif;
    font-size: 12px;
    color: #999999;
}
.nav-link-f{
    color: #999999;
}

.nav-link-f:hover{
    color: #666666;
    font-weight: bolder;

}
.message-f{
    font-family: 'Helvetica', sans-serif;
    font-size: 14px;
      color: #666666;

}
